.error-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "top top top"
    "left content right"
    "bottom bottom bottom";
    height: 100%;
}

.error-box {
    grid-area: content;
}

.content {

}