<div class="dashboard-navigation">
    <div class="dashboard-navigation-category">
        <div class="category-name">
            WEAKAURAS
        </div>
        <div class="category-content">
            <ul class="sub-navigation">
                <li routerLinkActive="active">
                    <a routerLink="/dashboard/local">Local</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/dashboard/online">Weaklib</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/dashboard/online">Guild</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashboard-navigation-category">
        <div class="category-name">
            SETTINGS
        </div>
        <div class="category-content">
            <ul class="sub-navigation">
                <li routerLinkActive="active">
                    <a routerLink="/dashboard/local">Account</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/dashboard/online">Guild</a>
                </li>
            </ul>
        </div>
    </div>
</div>