<div class="uploadview">
    <div class="content">
        <box heading="Upload Weakaura">
            <div class="upload-grid">
                <div class="weakaura-name">
                    <b>Name:</b>
                </div>
                <div class="name-content">
                    <input class="form-element" [(ngModel)]="name" type="text" name="weakauraname">
                </div>
                <div class="categories">
                    <b> Categories: </b>
                </div>
                <div class="categories-content">
                    <categories (notify)="categoriesChanged($event)"></categories>
                </div>
                <div class="weakaura-description">
                    <b>Description: </b>
                </div>
                <div class="description-content">
                    <textarea class="form-element textarea" [(ngModel)]="description" (keydown)="textAreaAdjust()" (keyup)="textAreaAdjust()" #descriptionElement> </textarea>
                </div>

                <div>
                    <b>String: </b>
                </div>
                <div>
                    <input class="form-element" [(ngModel)]="string" type="text" name="weakaura-string">
                </div>

                <div>
                    <b>Version: </b>
                </div>
                <div>
                    <input class="form-element" [(ngModel)]="version" type="text" name="weakaura-version">
                </div>

                <div class="profile-picture">
                    <b> Profile Picture: </b>
                </div>
                
                <div class="picture-content">
                    <imageupload [multiple]="false" #image></imageupload>
                </div>
            </div>

            <div class="upload">
                <input class="btn btn-primary btn-sm upload-button" type="button" (click)="upload()" name="uploadweakaura" value="Upload Weakaura">
            </div>
        </box>
    </div>

</div>