

.weakaura-view{
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:lightslategray;
    height: 100%;
    font-size: 22px;
    color: whitesmoke;
    word-spacing: 1rem;
    background-image: C\Benutzer\Marc\Desktop("SS");
}

