.comment-profile-picture > img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 2px;
}

.comment-title {
    grid-area: title;
    text-align: left;
    font-size: 16px;
}

.comment-content {
    grid-area: comment;
    text-align: left;
}

.comments-box {
    margin-top: 5px;
}

.timestamp {
    color: gray;
    font-size: 14px;
}

.reply {
    text-align: left;
}

.comments {
    margin-left: 50px;
    width: 100%;
    grid-area: comments;
}

@media (min-width: 1080px) {
    .comment {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 20px auto auto;
        grid-template-areas: "profilePicture title"
        "profilePicture comment"
        "profilePicture reply"
        "comments comments";
        grid-gap: 5px;
        margin-bottom: 5px;
    }

    .comment-profile-picture {
        grid-area: profilePicture;
    }
}

@media (max-width: 1080px) {
    .comment {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title"
        "comment"
        "reply"
        "comments";
        grid-gap: 5px;
        margin-bottom: 5px;
    }

    .comment-profile-picture {
        visibility: hidden;
         display: none;
    }
}