<div class="dashboard-grid">
    <div class="weakauras-grid">
        <div class="latestWeakauras">
            <weakaurabox [weakauras]="latestWeakauras" heading="Latest Weakauras" searchURL="/latestWeakauras">
            </weakaurabox>
        </div>

        <div class="mostPopularWeakauras">
            <weakaurabox [weakauras]="mostPopularWeakauras" heading="Most Popular Weakauras" searchURL="/latestWeakauras">
            </weakaurabox>
        </div>

        <div class="bestRatedWeakauras">
            <weakaurabox [weakauras]="bestRatedWeakauras" heading="Best Rated Weakauras" searchURL="/latestWeakauras">
            </weakaurabox>
        </div>
    </div>

    <div class="news">
        <news></news>
    </div>

    <div class="notifications">
        <!-- <notificationsbox></notificationsbox> -->
    </div>
</div>