@media (min-width: 1080px) {
    .dashboard-grid {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "navigation content";
        grid-gap: 5px;
        height: 100%;
    }
}

@media (max-width: 1080px) {
    .dashboard-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "weakaurasgrid"
        "news"
        "notifications";
        grid-gap: 5px;
        height: 99%;
    }
}

.dashboard-navigation {
    grid-area: navigation;
}

.dashboard-conent {
    grid-area: content;
}